.timer-container{
    border: 1px solid ;
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: rgb(242, 247, 174);
    margin-bottom:   0.5rem ;
    
}
.timer-title{
    color: red;
}
.timer-display{
    border-radius: 0.5rem;
    border: 1px solid;
    text-align: right;
    font-size: x-large;
    padding: 0.25rem 0.5rem ;
    font-weight: bolder;
    width: 15rem;
}
.timer-buttons{
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}