.Todo-container {
   border: 1px solid ;
   text-align: center;
} 
.todo-filter-container  {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
.todo-page-control{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}