.title{
  
    font-size:2rem;
   
  }
  .container{
    
    /* border: 1px solid ; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    padding: 0.5rem;
   
    
  }
  .background{
    background-image: url('./vi.jpg');
    width: 800px;
    display: grid;
    background-size: cover;
    padding: 30px;
   
    
    
  }